<!DOCTYPE HTML>
<html lang="en">
<head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<p>Login/logout module operation mode selected.
    Please add your subscription ID to the request in the following format:</p>
<p><a href="http://localhost:8080/checkpoint/login">http://localhost:8080/checkpoint/login?id=[your id]</a></p>
<p><a href="http://localhost:8080/checkpoint/logout">http://localhost:8080/checkpoint/logout?id=[your id]</a></p>
</body>
</html>