<!DOCTYPE HTML>
<html lang="en">
<head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<p>Manager mode selected.
    Please add your subscription ID and/or expiration date to the request in the following format:</p>
<p>
    <a href="http://localhost:8080/manager/info?id=0">
        http://localhost:8080/manager/info?id=[your id]</a>
</p>
<p>
    <a href="http://localhost:8080/manager/create?t=23&t=59&t=31&t=12&t=20230">
        http://localhost:8080/manager/create?t=[HH]&t=[mm]&t=[dd]&t=[MM]&t=[yyyy]</a>
</p>
<p>
    <a href="http://localhost:8080/manager/prolong?id=0&t=23&t=59&t=31&t=12&t=20230">
        http://localhost:8080/manager/prolong?id=[your id]&t=[HH]&t=[mm]&t=[dd]&t=[MM]&t=[yyyy]</a>
</p>
</body>
</html>