<!DOCTYPE HTML>
<html lang="en">
<head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<p>Reporting service selected.</p>
<p>
    <a href="http://localhost:8080/reporting/date?d=31&d=12&d=20230">http://localhost:8080/reporting/date?d=31&d=12&d=20230</a>
</p>
<p>
    <a href="http://localhost:8080/reporting/average?id=0">http://localhost:8080/reporting/average?id=[your id]</a>
</p>
<p>
    <a href="http://localhost:8080/reporting/update">http://localhost:8080/reporting/update</a>
</p>
</body>
</html>